@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  background: #202020;
}

.start {
  clear: left;
}

.intro {
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 7%;
  padding-bottom: 7%;
}

.intro-text {
  font-size: calc(6px + 2vmin);
}

.form-title {
  font-size: 26px;
  padding-bottom: 7px;
}

.form .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  font-size: 20px;
}

.form .column {
  flex: 1 1 10%;
}

.form .label {
  text-align: end;
  padding-top: 5px;
  padding-right: 16px;
}

.form .input {
  padding: 6px;
  background: transparent;
  border: 1px solid #424242;
  border-radius: 4px;
  color: white;
  flex-grow: 2;
  min-height: 30px;
  font-size: 0.86em;
  width: 100%;
}

.form .option {
  color: black;
}

.form .submit {
  display: block;
  margin: 0 auto;
}

.switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 50vw;
  width: 100vw;
  background: #202020;
  transform: translateX(-50vw);
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7px;
}

.switch-container span {
  margin: 4%;
}

.switcher-text {
  margin: 3px 0;
  margin-left: -3px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  width: 7%;
  height: 7%;
  min-width: 40px;
  max-width: 100px;
  border-radius: 50%;
  margin: 17px 15px 17px 24px;
}
.nav-bar-text {
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-size: calc(6px + 2vmin);
  font-weight: 300;
  margin-left: 1%;
  white-space: nowrap;
}
.app-header {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #202020;
  align-items: center;
}
.hexagon {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 88%;
  opacity: 15%;
}
.hexagon-wrapper {
  position: relative;
  height: auto;
  width: 120%;
  background: transparent;
  overflow: hidden;
}
.wrapper {
  display: flex;
  border-bottom: 1px solid #424242;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
}
.last-item {
  margin-left: auto;
}
.last-item::before {
  content: "";
  display: block;
  width: 60vw;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 10000;
  background: linear-gradient(90deg, rgba(32, 32, 32, 1) 36%, rgba(255, 255, 255, 0) 100%);
}

.button {
  margin: 10px !important;
}

.buttton-wrapper {
  padding: 12px;
  justify-content: center;
  display: flex;
}
